{{/* Left alignment / width is set so that multiple blocks with this view & variable length content all left align. */}}
<div class="mt-8 sm:mt-2 container max-w-3xl w-full">
  <div class="flex flex-col space-y-3">

<!-- <div class="mt-16 sm:mt-20 w-full max-w-5xl">
  <div class="flex flex-col space-y-3"> -->


<!-- <div class="max-w-3xl mr-auto pl-4 pr-4">
  <div class="flex flex-col space-y-3"> -->

<!--     
<div class="mt-4 w-full max-w-5xl">
    <div class="flex flex-col space-y-3"> -->

<!-- <div class="mt-4 w-full max-w-5xl mx-auto">
  <div class="flex flex-col items-start space-y-3"> -->